*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #0e0d0d;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}
nav {
    background-color: #0e0d0d;
    display: flex;
    justify-content: center;
    padding: 2px;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
}
nav ul li a {
    color: #5a5656;
    text-decoration:none;
    margin: 10px;
}
nav ul li a:hover {
    color: #580000;
    text-decoration: underline;
}


/*main decoration*/
main {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

    text-align: center;
    max-width:800px;
    margin: 20px auto;

    justify-content: space-between;
    flex: 1;
    align-content: flex-start;

}
img {
    max-width: 100%;
    padding-top: 15px;

    article {
        flex: 1;
        min-width: 300px;
        background-color: #5a5656;
    }
}
/*bosses principais*/
main img[src="img/clerigo bestial.jpeg"] {
    width: 400px;
}

main img[src="img/padre gascoigne.avif"] {
    width: 400px;
}

main img[src="img/besta de sangue.webp"] {
    width: 400px;
}

main img[src="img/amelia.png"] {
    width: 400px;
}

main img[src="img/sombra.png"] {
    width: 400px;
}

main img[src="img/aranhabb.jpg"] {
    width: 400px;
}

main img[src="img/orenascido.jpg"] {
    width: 400px;
}

main img[src="img/micolash.avif"] {
    width: 400px;
}

main img[src="img/mergo.webp"] {
    width: 400px;
}

/*bosses de dlc*/
main img[src="img/ludwig.png"] {
    width: 400px;
}
main img[src="img/fracassos.webp"] {
    width: 400px;
}
main img[src="img/ladymarya.jpg"] {
    width: 400px;
}
main img[src="img/laurence3.jpg"] {
    width: 400px;
}
main img[src="img/orphan.png"] {
    width: 400px;
}
/*nome dos bosses*/
main ul li {
    text-decoration: none;
    list-style-type: none;
}
/*footer*/
footer {
    text-align:center;
    color:#5a5656;
}