*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #0e0d0d;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}
nav {
    background-color: #0e0d0d;
    display: flex;
    justify-content: center;
    padding: 2px;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
}
nav ul li a {
    color: #5a5656;
    text-decoration:none;
    margin: 10px;
}
nav ul li a:hover {
    color: #580000;
    text-decoration: underline;
}


/*main decoration*/
main {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
img {
    max-width: 100%;
    padding-top: 15px;

    article {
        flex: 1;
        min-width: 300px;
        background-color: #5a5656;
        padding:15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}
/*bosses principais*/
main img[src="clerigo bestial.jpeg"] {
    width: 400px;
}

main img[src="padre gascoigne.avif"] {
    width: 400px;
}

main img[src="besta de sangue.webp"] {
    width: 400px;
}

main img[src="amelia.png"] {
    width: 400px;
}

main img[src="sombra.png"] {
    width: 400px;
}

main img[src="aranhabb.jpg"] {
    width: 400px;
}

main img[src="orenascido.jpg"] {
    width: 400px;
}

main img[src="micolash.avif"] {
    width: 400px;
}

main img[src="mergo.webp"] {
    width: 400px;
}

/*bosses de dlc*/
main img[src="ludwig.png"] {
    width: 400px;
}
main img[src="fracassos.webp"] {
    width: 400px;
}
main img[src="ladymarya.jpg"] {
    width: 400px;
}
main img[src="laurence3.jpg"] {
    width: 400px;
}
main img[src="orphan.png"] {
    width: 400px;
}
/*nome dos bosses*/
main ul li {
    text-decoration: none;
    list-style-type: none;
}
/*footer*/
footer {
    text-align:center;
    padding:500px;
    color:#5a5656;
}